<form action="/new" method="POST" class="card bg-black text-light">
<div class="card-body p-4">
    <h1 class="h5 mb-4">Agregar un vehiculo</h1>
    <div class="mb-3">
        <label for="patente">Escriba la patente</label>
        <input type="text" name="patente" placeholder="Escriba la patente" class="form-control rounded-1 bg-dark border-0 text-white">
    </div>
    <div class="mb-3">
        <label for="patente">Escriba la marca </label>
        <input type="text" name="marca" placeholder="Escriba la marca" class="form-control rounded-1 bg-dark border-0 text-white">>   
    <div class="mb-3">
        <label for="patente">Escriba el modelo</label>
        <input type="text" name="modelo" placeholder="Escriba el modelo" class="form-control rounded-1 bg-dark border-0 text-white">>
    </div>
    <div class="mb-3">
        <label for="patente">Escriba el año de patentamiento</label>
        <input type="number" name="anio" placeholder="Escriba el año de patentamiento" class="form-control rounded-1 bg-dark border-0 text-white">>
    </div>
    <div class="mb-3">
        <label for="patente">Escriba el kilometraje</label>
        <input type="number" name="kilometraje" placeholder="Cuantos km tiene el vehiculo?" class="form-control rounded-1 bg-dark border-0 text-white">>
    </div>
    <div class="mb-3">
        <label for="patente">Escriba la cantidad de combustible remanente</label>
        <input type="number" name="combustible" placeholder="Cuantos litros de combustible tiene remanente?" class="form-control rounded-1 bg-dark border-0 text-white">>
    </div>
        <button class="btn btn-primary">Guardar</button>
</div>
</form>